body {
    font-family: "Poppins", sans-serif;
    background-color: #fcfffa;
}
/* header section start*/
#header{
    background-color: #fff;
}

.textColor {
    color: #030F27;
}

.navbarBgDark {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    top: 25px;
    padding: 10px;
    z-index: 9999;
}

.navbar-nav .nav-link.active {
    color: red;
}

.nav-link:hover {
    color: red;
}

.nav-link {
    color: #030F27;
    font-size: small;
}

.getBtn {
    color: #fff;
    background-color: #D7382E;
}

.sideLine {
    border-right: 1px solid #030F27;
}

.iconHeight {
    height: 24px;
    width: 24px;
}

@media screen and (min-width: 992px) {
    .sideLine {
        border-right: none;
    }

    .iconHeight {
        height: 46px;
        width: 46px;
    }
}


.social-menu ul{
    position: absolute;
    top: 50%;
    left: 75%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 8px;
}

.social-menu ul li .fab{
    font-size: 15px;
    line-height: 28px;
    transition: .3s;
    color: #D7382E;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    border: 1px solid red;
    /* box-shadow: 0 5px 4px rgba(0,0,0,.5); */
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #000;
}

/* header section end */

/* footer section start */

/* footer section end */