body {
    font-family: "Poppins", sans-serif;
    background-color: #fcfffa;
}
/* header section start*/
#header{
    background-color: #fff;
}

.textColor {
    color: #030F27;
}

.navbarBgDark {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    top: 25px;
    padding: 10px;
    z-index: 9999;
}

.navbar-nav .nav-link.active {
    color: red;
}

.nav-link:hover {
    color: red;
}

.nav-link {
    color: #030F27;
    font-size: small;
}

.getBtn {
    color: #fff;
    background-color: #D7382E;
}

.sideLine {
    border-right: 1px solid #030F27;
}

.iconHeight {
    height: 24px;
    width: 24px;
}

@media screen and (min-width: 992px) {
    .sideLine {
        border-right: none;
    }

    .iconHeight {
        height: 46px;
        width: 46px;
    }
}


.social-menu ul{
    position: absolute;
    top: 50%;
    left: 75%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 8px;
}

.social-menu ul li .fab{
    font-size: 15px;
    line-height: 28px;
    transition: .3s;
    color: #D7382E;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    border: 1px solid red;
    /* box-shadow: 0 5px 4px rgba(0,0,0,.5); */
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li a:hover{
    background-color: #0077b5;
}

/* header section end */

/* card section start */
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 500px;
  }

  .bg-white {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }

  .card-content {
    flex: 1;
  }

  .c-footer {
    margin-top: -69px;
  }

  .rounded-circle {
    border-radius: 50% !important;
    border: 2px solid red;
}
/* card section end */

/* contact us section start */


/* contact us section end */

/* Our partner section start */

.slider img {
    width: 100px;
    height: 100px;
    animation: scroll 60s linear infinite;
  }
  
  .slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
  }
  
  .slider {
    margin-top: 70px;
    background-color: #D7382E;
    padding: 8em 2em;
  }
  
  @keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
  }

/* Our partner Section End */

/* main banner section start */
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .Mycontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.play-btn {
    width: 50px;
    height: 50px;
    background: radial-gradient(rgba(255, 0, 128, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
    border-radius: 50%;
    position: relative;
    margin-right: 10px; /* Adjust the spacing between icon and text */
    box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
}

/* triangle */
.play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    animation-delay: 0s;
    animation: pulsate1 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -26%;
    left: -26%;
    background: rgba(198, 16, 0, 0);
}

@keyframes pulsate1 {
    0% {
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
        transform: scale(1);
        opacity: 0;
        box-shadow: none;
    }
}

/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .play-btn {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* main banner section end */

/* for break line section start */
.line {
    width: 50%;
    margin: 0 auto;
    border-top: 1px solid #D7382E;
    margin-top: 20px;
    margin-bottom: 20px;
}

.name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
/* for break line section end */


/* blog details banner with text section start */
.ban_sec {
    width: 100%;
  }
  .ban_img {
    width: 100%;
    position: relative;
  }
  .ban_img img {
    width: 100%;
  }
  .ban_text {
    position: absolute;
    top: 50%;
    left: 35%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .ban_text strong {
    font: 800 62.22px/70px "Montserrat", sans-serif;
    color: #fff;
    text-transform: uppercase;
  }
  .ban_text strong span {
    font: 400 44.44px/52px "Montserrat", sans-serif;
    letter-spacing: 3px;
  }
  .ban_text p {
    font: 400 25px/30px "Montserrat", sans-serif;
    color: #fff;
    margin: 7px 0 25px;
  }
  
  
  @media (min-width: 1200px) and (max-width: 1399px) {
    .ban_text p {
      font-size: 21px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .ban_text p {
      font-size: 17px;
    }
    .ban_text strong {
      font-size: 50px;
      line-height: 60px;
    }
    .ban_text strong span {
      font-size: 37px;
    }
    .ban_text a {
      font-size: 16px;
      line-height: 19px;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .ban_text strong {
      font-size: 35px;
      line-height: 40px;
    }
    .ban_text strong span {
      font-size: 28px;
      line-height: 35px;
      letter-spacing: 2px;
    }
    .ban_text p {
      font-size: 14px;
      line-height: 20px;
    }
    .ban_text a {
      font-size: 13.39px;
      line-height: 15px;
    }
  }
  @media only screen and (max-width: 767px) {
    .ban_img img {
      min-height: 290px;
      object-fit: cover;
    }
  }
  @media only screen and (max-width: 575px) {
    .ban_text strong {
      background: rgba(0, 0, 0, 0.8);
      padding: 10px;
      width: 100%;
      display: block;
    }
  }
  @media only screen and (max-width: 480px) {
    .ban_text strong span {
      font-size: 22px;
      line-height: 31px;
      letter-spacing: 1px;
    }
    .ban_text {
      left: 2%;
    }
  }
/* blog details banner with text section end */

/* scrolltotop button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 25px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
/* end of scrolltotop button */

/* footer section start */

/* footer section end */